language: cpp

dist: trusty
sudo: required

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y valgrind
  - wget https://cmake.org/files/v3.5/cmake-3.5.1-Linux-x86_64.sh
  - sudo sh cmake-3.5.1-Linux-x86_64.sh --prefix=/usr/local --exclude-subdir

before_script:
  - ./build.sh
script:
  - ./run.sh
after_script:
  - cat build/log
